{% extends "base.html" %}

{% include "header.html" %}

{% block nav %}
    <p class="crumbs">
        <a href="/">home</a>
    </p>
    {{ super() }}
{% endblock %}

{% block content %}

<section class="section section-grey">
  {% if config.allow_sql %}
      <form class="sql" action="{{ database_url(database) }}" method="get">
          <h3>Requête SQL</h3>
          <p><textarea name="sql">{% if tables %}select * from {{ tables[0].name|escape_sqlite }}{% else %}select sqlite_version(){% endif %}</textarea></p>
          <p><input type="submit" value="Run SQL"></p>
      </form>
  {% endif %}
</section>

<section class="section section-grey">
  <div class="container">
      <h1>Tables dans {{ metadata.title or database }} </h1>
      {% for table in tables %}
      <div class= "panel" >
        <h5><a href="{{ database_url(database) }}/{{ table.name|quote_plus }}">{{ table.name }}</a>{% if table.hidden %}<em> (hidden)</em>{% endif %}</h5>
        <p><em>{% for column in table.columns[:9] %}{{ column }}{% if not loop.last %}, {% endif %}{% endfor %}{% if table.columns|length > 9 %}...{% endif %}</em></p>
        <p>{% if table.count is none %}Many rows{% else %}{{ "{:,}".format(table.count) }} row{% if table.count == 1 %}{% else %}s{% endif %}{% endif %}</p>
      </div>
      {% endfor %}
  </div>

{% if hidden_count and not show_hidden %}
    <p>... and <a href="{{ database_url(database) }}?_show_hidden=1">{{ "{:,}".format(hidden_count) }} hidden table{% if hidden_count == 1 %}{% else %}s{% endif %}</a></p>
{% endif %}

{% if views %}
    <h2>Views</h2>
    <ul>
        {% for view in views %}
            <li><a href="{{ database_url(database) }}/{{ view|urlencode }}">{{ view }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if queries %}
    <h2>Queries</h2>
    <ul>
        {% for query in queries %}
            <li><a href="{{ database_url(database) }}/{{ query.name|urlencode }}" title="{{ query.description or query.sql }}">{{ query.title or query.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if allow_download %}
    <p class="download-sqlite">Download SQLite DB: <a href="{{ database_url(database) }}.db">{{ database }}.db</a> <em>{{ format_bytes(size) }}</em></p>
{% endif %}

</section>

{% include "footer.html" %}

{% endblock %}
