<link rel="stylesheet" href="https://template.data.gouv.fr/template.css">
<header class="navbar" role="navigation">
  <div class="navbar__container">
    <a class="navbar__home" href="">
      <img class="navbar__logo" src="https://template.data.gouv.fr/images/logo-marianne.svg"
        alt="template.data.gouv.fr" /><span class="navbar__domain">???</span><img src="https://template.data.gouv.fr/images/pointdatagouvfr.svg" class="navbar__gouvfr" alt="data.gouv.fr" />
    </a>

    <nav>
      <ul class="nav__links">
        <li class="nav__item"><a href="#typography">toto</a></li>
        <li class="nav__item"><a href="#colors">titi</a></li>
        <li class="nav__item"><a href="#form">tutu</a></li>
      </ul>
    </nav>
  </div>
</header>
